<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>BarCode-It</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">

</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper blue accent-1">
            <a href="/index"><img class="brand-logo" src="/images/barcode-it-logo.png"></a>
        
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="li-home"><a href="/index">Home</a></li>
                <li class="li-barcodes"><a href="/barcodes/user">Barcodes</a></li>
                <li class="li-inventory"><a href="/inventory/user">Inventory</a></li>
                <li class="li-camera"><a href="/camera">Camera Scan</a></li>
                <li><a href="">Signout</a></li>
            </ul>
        </div>

        {{!-- <div class="nav-wrapper blue accent-1 mrb50">
            <form class="searchbar mrb50" action="/barcodes" method"GET">
                <div class="input-field">
                    <input id="search barcode-number mrb50" type="search" name="barcode" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons mrb50">close</i>
                </div>
            </form>
        </div> --}}
    </nav>

    <!--  Content -->
    <div class="container mrt100">
    <div class="body-content">
        {{{body}}}
    </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer blue accent-1">
            <div class="container center">
                © 2019 Copyright
                {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
    </footer>

    <script src="/javascript/main.js"></script>
</body>
</html>