<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>BarCode-It</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">

</head>

<body>

    <!-- Header Content -->
    <div class="header">

        <!-- Logo -->
        <img class="logo" src="/images/barcode-it-logo.png" alt="Logo">

        <!-- Authentication -->
        <div class="authenticationBar">
            <a class="login unlink" href="#">Login</a>
            <a class="line unlink" href="#">|</a>
            <a class="signup unlink" href="#">Register</a>
        </div>
    </div>

    <!-- Navbar -->
    <div class="navbar">
        <div class="nav-content">
            <label id="barcodes-display" class="unlink">Barcodes</label>
            <span> | </span>
            <label id="inventory" class="unlink" href="#">Inventory</label>
            <span> | </span>
            <label id="camera-barcode" class="unlink" href="/camera">Camera</label>

            <!-- Search Bar -->
            <form class="searchbar" action="/barcodes" method="GET">
                <input id="barcode-number" type="text" placeholder="Barcode Number..." name="barcode">
                <button id="submit-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <!--  Content -->
    <div class="body-content">
        {{{body}}}
    </div>

    <!-- Footer -->
    <div class="footer">
        <a class="github" href="https://github.com/Milleniyum/Project2">Check us out on Github!</a>
        <hr>
        <p class="copyright">&copy; 2019</p>
    </div>

    <script src="/javascript/main.js"></script>
</body>

</html>