<div class="container">

<h4>Create a Barcode</h4>
*All fields are optional.
<div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s4">
              <i class="material-icons prefix">mode_edit</i>
            <input id="input_text" type="text" data-length="10">
            <label for="input_text">Title</label>
          </div>
          <div class="input-field col s4">
              <i class="material-icons prefix">mode_edit</i>
            <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea2">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
              <i class="material-icons prefix">photo</i>
            <input id="input_text" type="text" data-length="10">
            <label for="input_text">Photo URL</label>
          </div>
        </div>
      </form>
    </div>

    <h4>Existing Barcodes</h4>

<img id="barcode" />
</div>

<script src="javascript/JsBarcode.all.min.js"></script>
<script src="javascript/barcodes.js"></script>