<div id="barcodes-area">
This is the barcodes page.

<img id="barcode"/>
</div>

{{!-- <style>
    #id {
        padding: 5px;
    }
</style> --}}


<script src="javascript/JsBarcode.all.min.js"></script>
<script src="javascript/barcodes.js"></script>