<h4>Camera Area</h4>

<div id="interactive" class="viewport"></div>





<script src="/javascript/quagga.min.js" type="text/javascript"></script>
<script src="/javascript/camera.js" type="text/javascript"></script>