    <div class="container allbrdr gr1 mrt100">
        <div class="row">
            <div class="col s12 m12 l12">
                <h2 class="center">Registration Page</h2>
                <p class="smallbrdr"></p>
                {{!-- <p class="center flow-text">Please give us all your information, so we can find you, and take your
                    stuff. </p> --}}
            </div>
            <div class="container center">
                <form class="col s12 m12 l12 ">
                    <div class="row pdt10 pdl10">
                        <div class="input-field col s6 m6 l6">
                            <input id="user_name" type="text" class="validate">
                            <label for="user_name">Desired User Name</label>
                            <span id="nametaken"></span>

                        </div>
                        <div class="input-field col s6 m6 l6">
                            <input input id="email" type="email" class="validate">
                            <label for="email">Email Address</label>
                        </div>
                    </div>
                    <div class="row pdl10">
                        <div class="input-field col s6 m6 l6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6 m6 l6">
                            <input input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row pdl10">
                        <div class="input-field col s6 m6 l6">
                            <input input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s6 m6 l6">
                            <input input id="passwordconf" type="password" class="validate">
                            <label for="passwordconf">Confirm Password</label>
                            <span id="mustMatch"></span>
                        </div>
                    </div>

                </form>

            </div>


        </div>
        <button class="btn waves-effect waves-light light-blue accent-1 mrl10 mrb10" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
    <div class="container mrb50">
        <a class="pdr10" href="/signin">I already have an account, take me to the sign in page!</a>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>


<script>
    $(document).ready(function () {
        M.updateTextFields();
    });
</script>