<div class="row">
    <div class="col s6">
        <p>Title: {{data.title}}</p>
        <p>Description: {{data.description}}</p>
        {{#if data.photo_url}}<img src="{{data.photo_url}}" alt="Photo" width=200><br>{{/if}}
        <img id="scanned-barcode" data-id="{{data.barcode_num}}"/>
    </div>
    <div class="col s6">

    </div>
</div> 

<style>
    #scanned-barcode {
        width: 150px;
    }
</style>

<script src="/javascript/JsBarcode.all.min.js"></script>
<script src="/javascript/scanned.js"></script>