body {
    padding: 10px;
}

.header {
    width: 100%;
    background-color: #F8F7FA;
}

.unlink {
    text-decoration: none;
}

.logo {
    width: 200px;
    margin: 10px;
}

.authenticationBar {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

.navbar {
    background-color: #866487;
    height: 40px;
    width: 100%;
}

.nav-content {
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 20px;
}

.nav-content a {
    color: white;
}

.home {
    padding-left: 10px;
}

.searchbar {
    position: absolute;
    top: 4px;
    right: 0;
    padding-right: 10px;
}

#barcode-number {
    height: 20px;
    width: 200px;
    background-color: white;
    box-shadow: none;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.body-content {
    width: 100%;
    padding: 5px;
}

.copyright {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}