body {
    /* background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F51B7, #56CCF2);
    background: linear-gradient(to right, #2F51B7, #56CCF2); */
    background-color: #E1E6F4;
    font-family: 'Poppins', sans-serif;
}

.body-content {
    padding-top: 80px;
    padding-bottom: 80px;
    /*background-color: white;
    height: 80%;
    overflow: hidden;
    */
}

.brand-logo {
    height: 100%;
}

#signout {
    color: blue;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 100px;
}

#footer {
    position: fixed;
    text-align: center;
    padding-top: 8px;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F51B7, #56CCF2);
    background: linear-gradient(to right, #2F51B7, #56CCF2);
    z-index: 200;
}

.media {
    color: #E1E6F4;
    font-size: 55px;
}

@media only screen and (max-width: 900px) {
    .media {
        font-size: 35px;
    }
}

.pad {
    padding-top: 20px;
}

.nav-wrapper {
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F51B7, #56CCF2);
    background: linear-gradient(to right, #2F51B7, #56CCF2);
}